<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDXhsbkrrAKCRD1dTH9l4QLiS5NSQZjugU</string>
	<key>GCM_SENDER_ID</key>
	<string>455578490556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>chatapp-500fc</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-500fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455578490556:ios:e0ebf34407ec4bb69262b9</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-500fc-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>